* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --bg-color: #F1EEEC;
    --bg-light: #CCC;
    --bg-dark: #333;
    --font-title-color: #FF0000;
    --font-text-color: #FF0000;
    --max-area: 1140px;

}

body{
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x:hidden;
    background-color: var(--bg-color);
    margin:0px;
}

/*
CABEÇALHO
*/

header{
    width: 100vw;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.7);
    color: #FFF;
    position: fixed;
    box-shadow: 0, 10px, 10px, #000;
}
.header{
    max-width: var(--max-area);
    height: inherit;
    margin: auto;
    display: flex;
    align-items: center;
}
.menu{
    flex:1;
    display: flex;
    justify-content: center;
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: inherit;
    display: flex;
    align-items: center;
}
.menu li a:hover,
.menu .active a {
    color: #b28756;
}

/*
BANNER
*/

.banner {
    height: 100vh;
    background-color: var(--bg-dark);
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-flex;
    background-color: rgb(0, 0, 0, 0.8);
    align-items: center;
}
.banner .slidearea {
    width: 100vw;
    height: 30vh;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner .slidearea p{
    text-transform: uppercase;
    font-size: 50px;
    padding-left: 20px;
    color: #FFF;
    margin: auto;
}
.banner span{
    color: #b28756;
    font-size: 30px;
}
.banner .sliders-pointers {
    width:100vw;
    height:20px;
    position:absolute;
    margin-top: -50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #b28756;
}

/*
SECTIONS
*/

.default {
    max-width: 1140px;
    margin: auto;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
    color: #595553;
}
.default .section-body{
    max-width: 100%;
    margin:auto;
}

/*
PRODCUTS
*/

.section-products {
    overflow:hidden;
    max-width: var(--max-area);
}
.section-products .sliders {
    width: 1000vw;
    height: 100%;
}
.section-products .slide {
    width: 250px;
    height: 100%;
    min-height: 300px;
    display:flex;
    margin-right: 20px;
}
.section-products .slidearea {
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}
.section-products-area .sliders-pointers {
    margin-top: 30px;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-products-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-products-area .pointer.active {
    background-color: #b28756;
}
.section-products--img{
    width: 250px;
    height: auto;
}
.section-products--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 15px;
    color: #595553;
}
.section-products--price{
    font-size: 16px;
    color: #595553;
    margin-top: 5px;
}


/*
SECTION TESTIMONIALS
*/

.default.testimonials{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-testimonials {
    overflow:hidden;
}

.section-testimonials .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
}
.section-testimonials--avatar {
    width:100px;
    margin-top: 30px;
}
.section-testimonials--name {
    font-weight: bold;
    font-size:16px;
    margin-top:20px;
}
.section-testimonials--role {
    font-size:14px;
}
.section-testimonials--quoteimg {
    width:20px;
    margin-top:30px;
}
.section-testimonials--quote {
    margin-top:10px;
    font-size:13px;
    max-width:700px;
    color:#555;
    text-align:center;
    line-height:25px;
    margin-left:30px;
    margin-right:30px;
}
.section-testimonials .sliders-pointers {
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-testimonials .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-testimonials .pointer.active {
    background-color:#B28756;
}

/*
DETAILS
*/
.section-details {
    display: flex;  
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.section-details--left{
    flex:1;
    margin: auto;
}
.section-details--right{
    flex: 1;
    margin: auto;
}
.section-details img{
    min-width:300px;
    max-width: 400px;
    width: 50%;
    height: auto;
    border-radius: 20px;
    display: flex;
    margin:auto;
}
.section-details-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.section-details p {
    font-size: 14px;
    line-height: 25px;
    color: #595553;
    text-align: justify;
    margin: 25px;
    margin-top: 0px;
    margin-bottom: 40px;
}
.section-deta--right {
    width:570px;
}
.section-deta--right img{
    width:400px;
    border-radius: 20px;
}

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu{
    display: flex;
}

.fm_1, .fm_2, .fm_3{
    flex: 1;
    color:#FFF;
    padding: 20px;
}

.fm_title{
    font-size: 25px;
    margin-bottom: 20px;
}
.fm_text{
    font-size: 15px;
    margin-bottom: 10px;
}
.fm_1{
    background-color: #b28756;
}
.fm_2{
    background-color: #595553;
}
.fm_3{
    background-color: #2b4c99;
}

.footer_area{
    display: flex;
}
.footer_areaitem{
    flex: 1;
    color: #FFF;
}
.flexColumn{
    flex-direction: column;
}

footer .widget_title_text{
    color: #FFF;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

@media (max-width:600px){

    header{
        font-size:15px;
    }

    .section-products-area{
        width: 100vw;
    }

    }